/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

/* Other Classes for Page Styling */

body {
  background: #ffff;
  /* background: linear-gradient(to right, #0062E6, #33AEFF); */
}